{% extends 'base.html' %}

{% block content %}

  <h1 class="ui header">Challenge #{{ challenge.pk }}</h1>

  <div class="ui grid">
    <div class="ten wide column">
      <div id="main">

      </div>
    </div>
    <div class="six wide column">
      <table class="ui definition celled small table">
        <thead>
          <tr>
            <th></th>
            <th>Judge</th>
            <th>User 1</th>
            <th>User 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Code</td>
            <td><a href="{% url 'code_detail' challenge.report0_judge.code_id %}">#{{ challenge.report0_judge.code_id }}</a></td>
            <td><a href="{% url 'code_detail' challenge.report1.code_id %}">#{{ challenge.report1.code_id }}</a></td>
            <td><a href="{% url 'code_detail' challenge.report2.code_id %}">#{{ challenge.report2.code_id }}</a></td>
          </tr>
          <tr>
            <td>CPU Time</td>
            <td>{{ challenge.report0_judge.time_consumption | floatformat:3 }}</td>
            <td>{{ challenge.report1.time_consumption | floatformat:3 }}</td>
            <td>{{ challenge.report2.time_consumption | floatformat:3 }}</td>
          </tr>
          <tr>
            <td>Exit Code</td>
            <td>{{ challenge.report0_judge.return_code }}</td>
            <td>{{ challenge.report1.return_code }}</td>
            <td>{{ challenge.report2.return_code }}</td>
          </tr>
          <tr>
            <td>Score</td>
            <td></td>
            <td>{{ challenge.score1 }}</td>
            <td>{{ challenge.score2 }}</td>
          </tr>
        </tbody>
      </table>
      <div class="ui form">
        <div class="field">
          <textarea style="font-family:monospace" rows="40" id="output">{{ challenge.report0_judge.raw_output }}</textarea>
        </div>
      </div>
    </div>
  </div>

<script>
  {{ scene.html_analysis_code.code | safe }}
</script>

{% endblock %}